 /* styles.css */

 .navbar {
    background-color: #0077b6 !important; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 9999;
  }
 
  .navbar-brand,
  .navbar-nav {
    color: white !important; 
  }
      
  /* hero-image, czyli "zdjęcie w tle" */
  .hero-image {
    background-image: url('public/img/hero-image-2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; 
    opacity: 0.9; /*przezroczystość */
    position: relative;
  }
    
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
  }
 
  .footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
  }
 